[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
apscheduler = "*"
flask = "*"
flask-sqlalchemy = "*"
pymysql = "*"
pluginbase = "*"
flask-wtf = "*"
flask-login = "*"

[dev-packages]

[requires]
python_version = "3.8"
