<!doctype html>
<html>
	<head>
		{% block head %}
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<title>{% block title %}{% endblock title %}</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard.css') }}" />
		{% endblock head %}
	</head>
	<body>
		<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
			<a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 text-center" href="/">Kiwifruit</a>
			<button class="navbar-toggler position-absolute d-md-none collapsed" type="button">
				<span class="navbar-toggler-icon"></span>
			</button>
			<ul class="navbar-nav px-3">
				<li class="nav-item text-nowrap">
					<a class="nav-link" href="{{ url_for('auth.logout', next=request.full_path) }}">退出</a>
				</li>
			</ul>
		</header>
		<div class="container-fluid">
			<div class="row">
				<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-dark sidebar collapsed">
					<div class="position-sticky pt-3">
						<ul class="nav flex-column">
							<li class="nav-item">
								<a class="nav-link active text-white text-decoration-none align-items-center" aria-current="page" href="/index">
									<span data-feather="home"></span>
									主页
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link text-white text-decoration-none align-items-center" aria-current="page" href="/tasks">
									<span data-feather="home"></span>
									扫描任务列表
								</a>
							</li>
						</ul>
					</div>
				</nav>
				<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
					{% for message in get_flashed_messages(with_categories=True) %}
						<div class="alert alert-{{ message[0] }} alert-dismissible fade show" role="alert">
							<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
							{{ message[1] }}
						</div>
					{% endfor %}
					{% block content %}
					{% endblock content %}
				</main>
			</div>
		</div>
		{% block scripts %}
			<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.slim.min.js') }}"></script>
			<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
		{% endblock scripts %}
	</body>
</html>
